html,
body {
  min-height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(/Projeto-price-cards.2/imagens/bg-2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  background-color: rgb(199, 199, 199);
}

.hero__content {
  margin: 100px auto 0;
  width: 80%;
  color: white;
  text-align: center;
}

.tittle {
  font-size: 56px;
  text-shadow: 2px 2px 4px black;
  margin-bottom: 30px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.subtittle {
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid white;
  padding: 20px;
  display: inline-block;
}

.content__section {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  width: 860px;
  margin: auto;
  gap: 16px;
  padding: 16px;
}

.cards {
  flex-basis: 250px;
  flex-grow: 1;
}

.cards img {
  width: 100%;
  display: block;
}

.cards__text {
  background-color: rgb(49, 49, 49);
  padding: 15px;
  margin: 0;
}
