body{
    font-family: sans-serif;
    margin: 0px;
    background-color: rgb(212, 212, 212);
}

.hero{
    background-image: url(/INTRODUCAO/tags-semanticas/ProjetoCSS-inicio/imagens/bg-3.jpg);
    height: 500px;
    background-size: cover;
    background-position: right center;
}

.hero-content{
    color: white;
    margin: 50px auto 0px;
    width: 80%;
    text-align: center;
}

.hero-content h1{
    font-size: 56px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

.hero-content p{
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    padding: 20px;
    display: inline-block;
    border-bottom: 3px solid white;
}

ul{
    text-align: right;
    margin-right: 50px;
}

li{
    display: inline-block;
    background-color: rgb(141, 141, 141);
    padding: 15px;
    border: 3px solid white;
    margin: 20px 10px;
}

ul a{
    text-decoration: none;
    color: white;
}

section{
    width: 60%;
    margin: auto;
}

article{
    background-color: white;
    padding: 20px;
    margin-top: 30px;
}

h2{
    background-color: rgb(228, 228, 228);
    padding: 20px;
    border-bottom: 3px solid rgb(196, 194, 194);
}

.p2{
    background-color: rgb(196, 196, 196);
    padding: 15px;
    width: 120px;
    text-align: center;
    border-radius: 7px;
}

footer p{
    background-color: gray;
    padding: 30px;
    text-align: center;
    color: white;
    margin-top: 50px;
    text-shadow: black 0.1em 0.1em 0.2em;
}