html, body{
    height: 100%;
}

body{
    background-color: aqua;
    margin: 0;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__title{
    color:black;   
}

.list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1000px;
    gap: 15px;
    list-style-type: none;
}

.list__item{
    flex-basis: 280px;
    background-color: aliceblue;
    border-radius: 5px;
    text-align: center;
    box-shadow: 3px 3px 5px  rgb(24, 18, 18);
    background-image: url(images/thumb02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list__item__image img{
    border-radius: 50%;
    width: 90px;
    margin-top: 120px;
    padding-bottom: 0;
}

.list__item__name{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.list__item__email{
    font-size: 22px;
    padding-bottom: 15px;
    margin: 0;
}

.list__item__crud{
    background-color: rgb(204, 203, 203);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}