body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(15, 15, 15);
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  color: white;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

.header__logo {
  text-transform: uppercase;
  font-size: 36px;
  margin-left: 16px;
  letter-spacing: 2px;
}

.nav__list {
  display: flex;
  list-style-type: none;
  font-size: 18px;
  gap: 16px;
}

.nav__list a {
  text-decoration: none;
  color: white;
  padding: 14px;
  border-radius: 6px;
}

.nav__list a:hover {
  text-decoration: underline;
}

a.nav__list--active {
  background-color: greenyellow;
  color: black;
  pointer-events: none;
}

/* TITULO */

.tittle {
  font-size: 75px;
  text-transform: uppercase;
  text-align: center;
}

/* SECTION MAIN */

.plan {
  display: flex;
  gap: 16px;
}

.plan__cards {
  flex-grow: 1;
  padding: 30px;
  background-color: rgb(37, 37, 43);
  border-radius: 8px;
  box-shadow: 0 5px 12px black;
  display: flex;
  flex-direction: column;
}

.plan__cards__tittle {
  text-transform: uppercase;
  border-bottom: 2px solid greenyellow;
  margin-top: 0;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.plan__cards__price {
  margin-top: 0px;
  font-size: 34px;
}

span {
  font-size: 15px;
}

.plan__cards__features{
  margin: 0 0 35px;
  color: #b5b5b5;
  padding-left: 16px;
  line-height: 1.8;
  /* flex-grow: 1; */
}

.plan__cards__features li::marker{
  color: greenyellow;
}

.btn__plan {
  text-decoration: none;
  background-color: greenyellow;
  border-radius: 7px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: black;
  padding: 16px 10px;
  text-align: center;
  margin-block-start: auto;
}

.btn__plan:hover{
  outline: 2px solid;
  color: white;
  background-color: transparent;
}
