body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    background-color: black;
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.cabecalho__logo{
    text-transform: uppercase;
    font-size: 35px;
    color: white;
}

.lista__navegacao{
    display: flex;
}

.lista__navegacao li{
    list-style-type: none;
    margin-right: 20px;
    padding: 15px;
}

.lista__navegacao a{
    color: white;
    text-decoration: none;
}

/* MAIN */

main{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main__titulo{
    font-size: 80px;
    color: white;
}

.lista__planos{
    display: flex;
    margin: 0;
    padding: 0;
}

.lista__item{
    list-style-type: none;
    background-color: rgb(66, 66, 66);
    position: relative;
    width: 330px;
    height: 400px;
    padding: 20px;
    margin: 10px;
}

.lista__item h3{
    color: white;
    font-size: 30px;
}

.item__content__titulo{
    padding-bottom: 10px;
    border-bottom: 2px solid yellowgreen;
    margin: 0;
}

.item__content__price{
    margin-top: 20px;
}

span{
    font-size: 15px;
}

.lista__item li{
    font-size: 20px;
    color: white;
    list-style-type:disc;
    line-height: 30px;
}


